# Gemini API Key — NUNCA commitear esto
# Agrega tu API Key en la pantalla de Configuración dentro de la app

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.class
*.log
target/
